@model MyRun.Application.RunnerProfile.Commands.EditRunnerProfile.EditRunnerProfileCommand

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>EditRunnerProfileCommand</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pb5k" class="control-label"></label>
                <input asp-for="Pb5k" class="form-control" />
                <span asp-validation-for="Pb5k" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pb10k" class="control-label"></label>
                <input asp-for="Pb10k" class="form-control" />
                <span asp-validation-for="Pb10k" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PbHalfMarathon" class="control-label"></label>
                <input asp-for="PbHalfMarathon" class="form-control" />
                <span asp-validation-for="PbHalfMarathon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PbFullMarathon" class="control-label"></label>
                <input asp-for="PbFullMarathon" class="form-control" />
                <span asp-validation-for="PbFullMarathon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="About" class="control-label"></label>
                <input asp-for="About" class="form-control" />
                <span asp-validation-for="About" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoUrl" class="control-label"></label>
                <input asp-for="PhotoUrl" class="form-control" />
                <span asp-validation-for="PhotoUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Accomplishments" class="control-label"></label>
                <input asp-for="Accomplishments" class="form-control" />
                <span asp-validation-for="Accomplishments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-primary" asp-controller="RunnerProfile" asp-action="Details" asp-route-id="@Model.Id">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
